.wd-top1 {
  height:390px;
  background-color:#FFFFFF;
  margin-top:10px;
  overflow: hidden;
}

.wd-top1 img {
  height:100%;
}

.wd-name1 {
  background-color:#555555;
  height:90px;
}

.wd-description1 {
  background-color:#777777;
  height:70px;
}