.wd-auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  background-color: white;
}

.wd-auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.wd-auth-form-title {
  text-align: center;
  font-weight: bold;
}

.wd-sign-up-box {
  width: 420px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.wd-image-size {
  width: 150px;
  height: 150px;
}

a:link {
  text-decoration: none;
}