body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.wd-profile-image {
  position: relative;
  bottom: 70px;
  left: 10px;
  border: white 2px solid;
}

.wd-object-fit-cover-image {
  object-fit: cover;
}

.wd-nudge-up {
  margin-top: -50px;
}

.wd-hover-cursor {
  cursor: pointer;
}

li.list-group-item.wd-post {
  background-color: rgba(255,119,51, 40%)
}

.wd-clickable:hover{
  cursor: pointer;
}

.wd-nudge-up-2 {
  top: 20%;
  left: 5%;
}
.wd-nudge-up-3 {
  top: 32%;
  left: 5%;
}
.wd-nudge-up-4 {
  top: 53%;
  left: 15%;
}

.wd-profile-image {
  position: relative;
  bottom: 70px;
  left: 10px;
  border: white 2px solid;
  object-fit: cover;
}

.wd-object-fit-cover-image {
  object-fit: cover;
}

.wd-nudge-up {
  margin-top: -50px;
}

.wd-hover-cursor {
  cursor: pointer;
}

li.list-group-item.wd-post {
  background-color: rgba(255,119,51, 40%)
}

.wd-clickable:hover{
  cursor: pointer;
}

.wd-detail-image {
  max-width: 100%;
  max-height: 100%;
}

.wd-search-image {
  max-width: 100%;
}

.wd-owner-profile-detail-image {
  height: 500px;
  object-fit: cover;
}