body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wd-profile-image {
  position: absolute;
  top: 250px;
  left: 300px;
  border: white 2px solid;
}

.wd-object-fit-cover-image {
  object-fit: cover;
}

.wd-nudge-down-s {
  margin-top: 30px;
}

.wd-nudge-down-m {
  margin-top: 60px;
}